
<div class="x_panel">
    <div class="x_title">
        <p class="lead">Paste your link below</p>

    </div>
    <div class="x_content">
        <form style="text-align: center;" ng-submit="shorten1()">
            <div class="input-group">
                <input type="text" class="form-control input-lg" placeholder="Paste Link here..." ng-model="urlentry.longurl">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-lg" type="submit">Go!</button>
                                </span>
            </div>

            <div class="container">
                <div class="pull-left advanced-options"><a ng-click="isAdvancedFormOpen = !isAdvancedFormOpen">Advanced Options</a></div>
            </div>
            <div class="row" ng-show="isAdvancedFormOpen">
                <hr/>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="alias" ng-model="urlentry.userId">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="alias" ng-model="urlentry.alias">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="description" ng-model="urlentry.description">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="description" ng-model="urlentry.password">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="description" ng-model="urlentry.click">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="description" ng-model="urlentry.metaTitle">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="description" ng-model="urlentry.metaDescription">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
asfsdfsd
<p ng-show="shorturl.longurl">[[shorturl.longurl]]</p>
<p ng-show="shorturl.shortcode">[[shorturl.shortcode]]</p>
<p ng-show="shorturl.error">[[shorturl.error]]</p>
<p ng-show="error">[[error]]</p>
<p ng-show="shorturl.login">[[shorturl.login]]</p>