
<div class="x_panel">
    <div class="x_title">
        <p class="lead">Paste your link below</p>

    </div>
    <div class="x_content">
        <div class="col-xs-10">
            <form style="text-align: center;" ng-submit="shorten()">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" placeholder="Paste Link here..." ng-model="urlentry.longurl">
                        <span class="input-group-btn"><button class="btn btn-primary btn-lg" type="submit">Go!</button></span>
                    </div>
                </div>

                <div class="container">
                    <div class="pull-left advanced-options"><a ng-click="isAdvancedFormOpen = !isAdvancedFormOpen">Advanced Options</a></div>
                </div>
                <div class="row" ng-show="isAdvancedFormOpen">
                    <hr/>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="alias" ng-model="urlentry.userId">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="alias" ng-model="urlentry.alias">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="description" ng-model="urlentry.description">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="description" ng-model="urlentry.password">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="description" ng-model="urlentry.click">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="description" ng-model="urlentry.metaTitle">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="description" ng-model="urlentry.metaDescription">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs 2">
            <img ng-show="shorturl_loader" src="http://localhost/ngshin/web/images/loaders/ring-loader.svg" alt="Processing data..."/>
        </div>
    </div>
</div>

<div ng-show="shorturl.shortcode">
    <div class="alert alert-success" role="alert">
        <p class="lead">[[locationHost]]/[[shorturl.shortcode]]</p>
        <p class="small">[[shorturl.longurl]]</p>
    </div>
</div>

<div ng-show="shorturl.error">
    <div class="alert alert-warning" role="alert">
        <p>[[shorturl.error]]</p>
    </div>
</div>

<div ng-show="error">
    <div class="alert alert-danger" role="alert">
        <p>[[error]]</p>
    </div>
</div>

